
// 弹出框设置

.el-notification .el-icon-warning{
    color:#faa82d;
  }
  .el-notification .el-icon-success{
    color:#36c262;
  }
  .el-notification .el-icon-success{
    color:#36c262;
  }
  .el-notification .el-icon-info{
    color:#1989fa;
  }
  .el-notification .el-icon-error{
    color:#f5222d;
  }
  
  // @keyframes dialog-fade-in {
  //   0% {
  //     /*transform: translate3d(0, 100%, 0);*/
  //     transform:scale(0.5,0.5);
  //     opacity: 0;
  //   }
  //   100% {
  //     /*transform: translate3d(0, 0, 0);*/
  //     transform:scale(1,1);
  //     opacity: 1;
  //   }
  // }
  // @keyframes dialog-fade-out {
  //   0% {
  //     /*transform: translate3d(0, 0, 0);*/
  //     opacity: 1;
  //   }
  //   100% {
  //     /*transform: translate3d(0, 10%, 0);*/
  //     opacity: 0;
  //   }
  // }
  
  .el-dialog__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2007;
    .el-dialog{
      margin: 0 0 50px;
    }
  }

  //图片上传组件

  
.avatar-uploader
{
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .el-upload:hover {
    border-color: #409EFF;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }

}

.avatar-uploader-longer
{
  .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .el-upload:hover {
    border-color: #409EFF;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 400px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 400px;
    height: 178px;
    display: block;
  }

}

//字体调整

.el-table--mini, .el-table--small, .el-table__expand-icon {
    font-size: 14px;
}

.el-menu-item {

  transition: none !important;

}
.el-submenu__title{
  transition: none !important;
}
.el-submenu{
  transition: none !important;
}
  