
.header-container{
    // 橘黄色主题颜色配置
    &.orangeTheme{
        background-color: rgba(240, 133, 25, 1) !important;
        .h_nav{
            .list{
                li{
                    color: #f2f2f2 !important;
                    &.active{
                      color:#ffffff !important;
                    }
                }
            }
            .h_user{
                .gap{
                    background-color: #e4b8b8 !important;
                }
                .el-icon-setting{
                    color:#ffffff !important;
                }
                .el-icon-bell{
                    color:#ffffff !important;
                  }
                  .bell-text{
                    color:#ffffff !important;
                  }
            }
        }
    }
    // 淡黄色主题颜色配置
    &.yellowTheme{
        background-color: rgba(255,209,73,1) !important;
        .h_nav{
            .list{
                li{
                    color: #8E6B19 !important;
                    &.active{
                      color:#3C3C3C !important;
                    }
                }
            }
            .h_user{
                .gap{
                    background-color: #8E6B19 !important;
                }
                .el-icon-setting{
                    color:#8E6B19 !important;
                }
                .el-icon-bell{
                    color:#8E6B19 !important;
                  }
                  .bell-text{
                    color:#8E6B19 !important;
                  }
                  .login-user{
                      .username{
                        color: rgb(60, 60, 60) !important;
                      }
                  }
            }
        }
    }

    // 淡黄色主题颜色配置
    &.blueTheme{
        background-color: #23336f !important;
        .h_nav{
            .list{
                li{
                    color: #f2f2f2 !important;
                    &.active{
                        color:#ffffff !important;
                    }
                }
            }
            .h_user{
                .gap{
                    background-color: #e4b8b8 !important;
                }
                .el-icon-setting{
                    color:#ffffff !important;
                }
                .el-icon-bell{
                    color:#ffffff !important;
                    }
                    .bell-text{
                    color:#ffffff !important;
                    }
            }
        }
    }

    &.grayTheme{
        background-color: rgba(0,0,0,0.4) !important;
        // opacity: 0.45;
        .h_nav{
            .list{
                li{
                    color: #f2f2f2 !important;
                    &.active{
                        color:#ffffff !important;
                    }
                }
            }
            .h_user{
                .gap{
                    background-color: #e4b8b8 !important;
                }
                .el-icon-setting{
                    color:#ffffff !important;
                }
                .el-icon-bell{
                    color:#ffffff !important;
                    }
                    .bell-text{
                    color:#ffffff !important;
                    }
            }
        }
    }

}

// 菜单主题
#index-container{
    .body{
        .Ynav{

            &.blueTheme{
                h3.sys-name{
                    color: #ffffff !important;
                    border-bottom: 1px solid #3049a1;
                    border-top: 1px solid #3049a1;
                    box-sizing: border-box;
                }

                .menu{
                    .el-submenu__title{
                        
                        i{
                          color:#ffffff !important;
                        }
                        &:hover{
                            background: #0a1d5f !important;
                          }
                      }
    
                      .el-menu-item{
                        background:#23336f !important;
                        i{
                            color:#ffffff !important;
                          }
                        &:hover{
                          background: #0a1d5f !important;
                        }
                      }
                }
            }


            &.grayTheme{
                background-color:#00000000 !important;
                ul{
                    background-color: rgba(0, 0, 0, 0) !important;
                }

                h3.sys-name{
                    color: #ffffff !important;
                    border-bottom: 1px solid rgba(0,0,0,0.4);
                    border-top: 1px solid rgba(0,0,0,0.4);
                    box-sizing: border-box;
                }

                .menu{
                    .el-submenu__title{
                        
                        i{
                          color:#ffffff !important;
                        }
                        &:hover{
                            background: rgba(0,0,0,0.4) !important;
                          }
                      }
    
                      .el-menu-item{
                        background:rgba(0,0,0,0.4) !important;
                        i{
                            color:#ffffff !important;
                          }
                        &:hover{
                          background: rgba(0,0,0,0.5) !important;
                        }
                      }
                }
            }
            
        }
    }
}

//弹出菜单
.el-menu--vertical{
    &.orangeTheme{
        .el-menu-item{
            &:hover{
                background: #fdf2d2 !important;
            }
        }
    }
    &.grayTheme{
        .el-menu-item{
            &:hover{
                background: #00000098 !important;
            }
        }
    }
}