
$l_fontsize:16px !default;

$m_fontsize:14px !default;

$s_fontsize:12px !default;

$fontcolor: #8E6B19  !default;

$focusfontcolor: #3C3C3C !default;

$bg_color:rgba(255,209,73,1) !default;

$fontfamily:'微软雅黑' !default;